* {
    background: #f3f8fc;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    overflow: hidden;
}

.logo {
    padding-top: 10px;
    padding-left: 10px;
    width: 10%;
}

main {
    display: flex;
    margin-bottom: 10px;
    margin-left: 180px;
}

.text-area {
    height: 400px;
    border: none;
    color: #0A6B71;
    margin-top: 30px;
    text-transform: lowercase;
    padding: 2px;
}

::placeholder {
    color: #0A6B71;
}

.text-area:focus {
    outline: none;
}

.mensaje {
    background: white;
    background-image: url("IMAGENES/Muñeco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A6B71;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.mensaje:focus {
    outline: none;
}

.botones {
    display: flex;
    margin-top: 18px;
}

.boton-encriptar {
    background-color: #0A6B71;
    border: 1px solid #0A6B71;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
   
}

.boton-desencriptar{
    background: #D8DFE8;
    border: 1px solid #0A6B71;
    border-radius: 24px;
    color: #0A6B71;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.copiar{
    border: 1px solid #0A6B71;
    border-radius: 24px;
    color: #0A6B71;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: fixed;
    width: 336px;
}

.informacion{
    color: #495755;
    font-size: 18px;
}